<section class="phx-sidekick">
  <div>
    <span>so what's new</span>
    <%= gettext "%{name}!", name: "🐦" %>
  </div>
</section>

<section class="row">
  <article class="column">
    <h2>Scuttlebutt</h2>
    <div id="chat-box">
      <%= for message <- @messages do %>
        <div><b><%= message.from %>:</b> <%= message.msg %></div>
      <% end %>
    </div>

    <form id="chat-form">
      <input type="text" placeholder="Username" id="user-name"></input>
      <textarea placeholder="Your comment" id="user-msg"></textarea>
      <button type="submit">Send</button>
    </form>
  </article>
</section>
